/* Fira Code */
@font-face {
  font-display: swap;
  font-family: "wf-fira-code";
  font-style: normal;
  font-weight: 400;
  src: url("./fira-code-v27-latin_latin-ext/fira-code-v27-latin_latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-fira-code";
  font-style: normal;
  font-weight: 500;
  src: url("./fira-code-v27-latin_latin-ext/fira-code-v27-latin_latin-ext-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-fira-code";
  font-style: normal;
  font-weight: 600;
  src: url("./fira-code-v27-latin_latin-ext/fira-code-v27-latin_latin-ext-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-fira-code";
  font-style: normal;
  font-weight: 700;
  src: url("./fira-code-v27-latin_latin-ext/fira-code-v27-latin_latin-ext-700.woff2")
    format("woff2");
}
