/**
* Switzer
*
* available axes:
*   'wght' (range from 100.0 to 900.0)
*/
@font-face {
  font-display: swap;
  font-family: "wf-switzer";
  font-style: normal;
  font-weight: 100 900;
  src: url("./switzer/Switzer-Variable.woff2") format("woff2");
}
