@use "reset";
@use "termynal/dist/style.css";

:root {
  --color-bg: #151515;
  --color-text: #ffffff;
  --color-accent: #00db3e;
  --color-bg-accent: #122016;
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: monospace;
}

.page-wrapper {
  display: grid;
  align-content: center;
  height: 100dvh;
  padding-inline: 1.5rem;

  .page-content {
    // outline: 1px solid blue;

    .content-page {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.active {
        display: block;
        opacity: 1;
      }

      &.fade {
        display: block;
        opacity: 0;
      }
    }
  }
}

button.matrix-btn {
  width: min(100%, 23rem);
  margin-top: 4rem;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  background: var(--color-bg-accent);
  border: 5px solid var(--color-accent);
  border-radius: 5px;
  color: var(--color-accent);
  position: relative;
  overflow: hidden;

  @keyframes matrix-code-rain {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .matrix-btn__code-rain {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--color-accent) 50%,
      transparent 100%
    );
    animation: matrix-code-rain 1s linear infinite;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &:hover .matrix-btn__code-rain {
    opacity: 0.25;
  }
}

.landing {
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-accent);
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.checking {
  .terminal-window {
    margin-inline: auto;
    width: min(100%, 30rem);
    border: 1px solid var(--color-accent);
    border-radius: 7px;
    overflow: hidden;

    .terminal-window__header {
      padding: 0.5rem 2rem;
      background: var(--color-bg-accent);
      border-bottom: 1px solid var(--color-accent);
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--color-accent);
    }

    .terminal-window__content {
      padding: 2rem;
      font-size: 1.125rem;
      line-height: 1.85;
      color: var(--color-accent);
    }
  }
}

[data-termynal] {
  padding: 0;
  font: inherit;
  color: inherit;

  &::before,
  &::after {
    display: none;
  }
}

.results {
  .results-section {
    &:not(:first-child) {
      margin-top: 4rem;
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 1.125rem;
      font-weight: 400;
    }

    .alert {
      --_alert-bg: var(--color-bg);
      --_alert-border: var(--color-text);
      --_alert-border-width: 0.5px;

      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.75rem 1.5rem;
      background: var(--_alert-bg);
      border: var(--_alert-border-width) solid var(--_alert-border);
      border-radius: 7px;
      font-size: 1.3125rem;
      line-height: 2rem;

      & + .alert {
        margin-top: 1.75rem;
      }

      .icon {
        width: 2rem;
        height: 2rem;
        animation: blink 1.5s infinite;

        @keyframes blink {
          50% {
            opacity: 0;
          }
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }

      em {
        font-size: 1.75rem;
        font-weight: 500;
        font-style: normal;
        line-height: 2rem;
        color: var(--_alert-border);

        &.right {
          margin-left: auto;
        }
      }

      &.emergency {
        --_alert-bg: #1f1412;
        --_alert-border: #ff2200;
        --_alert-border-width: 3px;
      }

      &.danger {
        --_alert-bg: #1f1412;
        --_alert-border: #ff7a66;
      }

      &.warning {
        --_alert-bg: #191806;
        --_alert-border: #fff600;
      }

      &.ok {
        --_alert-bg: #0f1611;
        --_alert-border: #00db3e;
      }
    }

    button {
      margin-top: 0;
    }
  }
}
