@use "reset";

:root {
  --color-bg: #fbfbfb;
  --color-text: #222;

  --page-gutter: 1.5rem;

  @media (max-width: 576px) {
    --page-gutter: 1rem;
  }
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "wf-switzer", sans-serif;
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

.page-wrapper {
  .page-content {
    padding-inline: var(--page-gutter);
  }
}

.width-wrapper-960 {
  max-width: 960px;
  margin-inline: auto;
}

.explanation {
  padding-top: 4rem;

  @media (max-width: 576px) {
    padding-top: 1.5rem;
  }

  .explanation-title {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    margin-bottom: 2rem;
    padding-inline: 2rem;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding-inline: 1rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.125;
    }
  }

  .explanation-content {
    margin-bottom: 4rem;
    padding-inline: 2rem;
    font-size: 1.3125rem;
    line-height: 1.7;

    @media (max-width: 576px) {
      margin-bottom: 2rem;
      padding-inline: 1rem;
      font-size: 1.125rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

  .email-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background: #00ad62;
    color: #000;

    @media (max-width: 576px) {
      padding: 1rem;
    }

    ::selection {
      background: #555;
      color: #fff;
    }

    .input,
    .textarea {
      background: #fff;
      border: 1px solid #000;
      border-radius: 0;
      font-family: inherit;
      font-size: 1rem;
      line-height: 1.625;
      color: #000;

      @media (max-width: 576px) {
        font-size: 0.875rem;
      }
    }

    .label {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        flex: 1;
        min-width: 4rem;
        text-align: right;
      }

      .input {
        flex: 10;
        padding: 0.25rem 0.5rem;
      }
    }

    .textarea {
      padding: 1rem;

      p {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .email-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    a.email-btn,
    button.email-btn {
      flex: 1;
      padding: 0.5rem;
      background: #000;
      border: 0;
      font-family: inherit;
      font-size: 1.125rem;
      font-weight: 600;
      color: #fff;
      text-align: center;
      text-decoration: none;

      @media (max-width: 576px) {
        font-size: 1rem;
      }

      span {
        display: block;
        padding: 0.25rem 0.5rem;
        border: 1px dotted #fff;
      }

      &:hover {
        background: #333;
      }
    }
  }
}

.content-footer {
  display: flex;
  justify-content: center;
  gap: 3rem 2rem;
  margin-top: 6rem;
  margin-inline: calc(-1 * var(--page-gutter));
  padding-top: 3.25rem;
  padding-bottom: 2.375rem;
  padding-inline: var(--page-gutter);
  background: #000;
  color: #fff;

  @media (max-width: 576px) {
    flex-direction: column;
    margin-top: 3rem;
    padding-block: 2rem;
    text-align: center;
  }

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
