@use "reset";
@use "termynal/dist/style.css";

:root {
  --color-bg: #151515;
  --color-text: #ffffff;
  --color-accent: #00db3e;
  --color-bg-accent: #122016;

  --page-gutter: 1.5rem;

  @media (max-width: 576px) {
    --page-gutter: 1rem;
  }
}

html {
  color-scheme: light dark;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "wf-fira-code", monospace;
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

.page-wrapper {
  display: grid;
  align-content: center;
  height: 100dvh;

  .page-content {
    // outline: 1px solid blue;
    padding-inline: var(--page-gutter);
    overflow: hidden;
    overflow-y: auto;

    .content-page {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.active {
        display: block;
        opacity: 1;
      }

      &.fade {
        display: block;
        opacity: 0;
      }
    }
  }
}

.width-wrapper-960 {
  max-width: 960px;
  margin-inline: auto;
}

.width-wrapper-1200 {
  max-width: 1200px;
  margin-inline: auto;
}

button.matrix-btn {
  width: min(100%, 23rem);
  margin-top: 4rem;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  background: var(--color-bg-accent);
  border: 5px solid var(--color-accent);
  border-radius: 5px;
  color: var(--color-accent);
  position: relative;
  overflow: hidden;

  @keyframes matrix-code-rain {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }

  .matrix-btn__code-rain {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      transparent 0%,
      var(--color-accent) 50%,
      transparent 100%
    );
    animation: matrix-code-rain 1s linear infinite;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &:hover {
    box-shadow: 0 0 5px var(--color-accent);

    .matrix-btn__code-rain {
      opacity: 0.25;
    }
  }
}

.terminal-window {
  margin-inline: auto;
  width: min(100%, 30rem);
  border: 1px solid var(--color-accent);
  border-radius: 7px;
  overflow: hidden;

  .terminal-window__header {
    padding: 0.5rem 2rem;
    background: var(--color-bg-accent);
    border-bottom: 1px solid var(--color-accent);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-accent);

    @media (max-width: 576px) {
      padding-inline: 1rem;
      font-size: 1.125rem;
    }

    strong {
      font-weight: 700;
    }
  }

  .terminal-window__content {
    padding: 1.5rem 2rem;
    font-size: 1.125rem;
    line-height: 1.85;
    color: var(--color-accent);

    @media (max-width: 576px) {
      padding: 1rem;
      font-size: 0.875rem;
    }
  }
}

.landing {
  padding-block: 4rem;
  text-align: center;

  @media (max-width: 576px) {
    padding-block: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-accent);

    @media (max-width: 576px) {
      font-size: 2.25rem;
    }
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 400;

    @media (max-width: 576px) {
      font-size: 1.25rem;
    }
  }
}

.checking {
  padding-block: 4rem;

  @media (max-width: 576px) {
    padding-block: 1.5rem;
  }
}

[data-termynal] {
  padding: 0;
  font: inherit;
  color: inherit;

  pre {
    font: inherit;
  }

  &::before,
  &::after {
    display: none;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.results {
  padding-block: 4rem;

  @media (max-width: 576px) {
    padding-block: 1.5rem;
  }

  .results-section {
    &:not(:first-child) {
      margin-top: 4rem;
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 1.3125rem;
      font-weight: 400;

      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }

    .alert {
      --_alert-bg: var(--color-bg);
      --_alert-border: var(--color-text);
      --_alert-border-width: 0.5px;

      display: flex;
      align-items: center;
      gap: 0.5rem 1rem;
      padding: 0.75rem 1.5rem;
      background: var(--_alert-bg);
      border: var(--_alert-border-width) solid var(--_alert-border);
      border-radius: 7px;
      font-size: 1.3125rem;
      line-height: 2rem;

      @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.125rem;
        line-height: 1.5rem;
        padding: 0.5rem 1rem;
      }

      & + .alert {
        margin-top: 1.75rem;
      }

      .icon {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        animation: blink 1.25s infinite;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      em {
        font-size: 1.75rem;
        font-weight: 500;
        font-style: normal;
        line-height: 2rem;
        color: var(--_alert-border);

        @media (max-width: 576px) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }

        &.right {
          margin-left: auto;
        }
      }

      &.emergency {
        --_alert-bg: #1f1412;
        --_alert-border: #ff2200;
        --_alert-border-width: 3px;
        box-shadow: 0 0 5px #ff2200;

        @media (max-width: 576px) {
          align-items: center;
        }
      }

      &.danger {
        --_alert-bg: #1f1412;
        --_alert-border: #ff7a66;
      }

      &.warning {
        --_alert-bg: #191806;
        --_alert-border: #fff600;
      }

      &.ok {
        --_alert-bg: #0f1611;
        --_alert-border: #00db3e;
      }
    }

    button {
      margin-top: 0;
    }
  }
}

.explanation {
  padding-top: 4rem;

  @media (max-width: 576px) {
    padding-top: 1.5rem;
  }

  .terminal-window {
    width: 100%;

    .terminal-window__header {
      font-size: 1.5rem;

      @media (max-width: 576px) {
        font-size: 1.25rem;
      }
    }

    .terminal-window__content {
      color: var(--color-text);

      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;

        @media (max-width: 576px) {
          font-size: 1.25rem;
          margin-bottom: 0.75rem;
        }
      }

      p {
        font-size: 1.125rem;

        &:not(:last-child) {
          margin-bottom: 1.5rem;

          @media (max-width: 576px) {
            margin-bottom: 1rem;
          }
        }

        @media (max-width: 576px) {
          font-size: 1rem;
        }

        em {
          padding: 0.1em 0.3em;
          background: var(--color-accent);
          font-style: normal;
          font-weight: 700;
          color: var(--color-bg);
        }
      }
    }
  }

  .cta-section {
    display: flex;
    align-items: center;
    gap: 1rem 1.5rem;
    margin-block: 4rem;

    @media (max-width: 576px) {
      flex-direction: column;
      text-align: center;
    }

    .icon {
      flex-shrink: 0;
      width: 2.5rem;
      height: 2.5rem;
      animation: blink 1.25s infinite;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-size: 1.3125rem;
      color: var(--color-accent);

      @media (max-width: 576px) {
        font-size: 1.125rem;
      }
    }
  }

  .email-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #adadad;
    color: #000;

    ::selection {
      background: #555;
      color: #fff;
    }

    .input,
    .textarea {
      background: #fff;
      border: 1px solid #000;
      border-radius: 0;
      font-family: inherit;
      font-size: 1rem;
      color: #000;

      @media (max-width: 576px) {
        font-size: 0.875rem;
      }
    }

    .label {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        flex: 1;
        min-width: 4rem;
        text-align: right;
      }

      .input {
        flex: 10;
        padding: 0.25rem 0.5rem;
      }
    }

    .textarea {
      padding: 1rem;

      p {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .email-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a.email-btn,
    button.email-btn {
      flex: 1;
      padding: 0.5rem;
      background: #adadad;
      border: 0px solid #000;
      font-family: inherit;
      font-size: 1.125rem;
      color: var(--color-bg);
      text-align: center;
      text-decoration: none;

      @media (max-width: 576px) {
        font-size: 1rem;
      }

      span {
        display: block;
        padding: 0.25rem 0.5rem;
        border: 1px dotted #000;
      }

      &:hover {
        background: #ccc;
        color: #000;
      }
    }
  }
}

.content-footer {
  display: flex;
  justify-content: center;
  gap: 3rem 2rem;
  margin-top: 6rem;
  margin-inline: calc(-1 * var(--page-gutter));
  padding-top: 3.25rem;
  padding-bottom: 2.375rem;
  padding-inline: var(--page-gutter);
  background: #363636;

  @media (max-width: 576px) {
    flex-direction: column;
    padding-block: 2rem;
  }

  .footer-col {
    flex: 1;
    max-width: 22rem;
    width: min(100%, 24rem);

    .semi-bold {
      font-weight: 600;
    }

    .about-link {
      font-weight: 600;
      color: var(--color-text);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    hr {
      max-width: 8rem;
      height: 0;
      border: none;
      border-top: 1px dotted var(--color-text);
      margin: 2rem 0;
    }

    .newsletter-form {
      margin-top: 0.5rem;

      .form-group {
        margin-top: 0.5rem;
      }

      .checkbox {
        display: flex;
        gap: 0.5em;

        input[type="checkbox"] {
          appearance: none;
          display: grid;
          place-items: center;
          background: var(--color-text);
          margin: 0;
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid #000;
          border-radius: 0;
          color: var(--color-bg);

          &:checked::before {
            content: "";
            display: block;
            width: 0.4em;
            height: 0.8em;
            margin-top: -0.2em;
            border: 0 solid currentColor;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-width: 0 2px 2px 0;
            transform-origin: center;
            transform: rotate(45deg);
          }
        }
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        line-height: 1.3;

        input {
          margin-top: 0.25rem;
          padding: 0.2em 0.5em;
          background: var(--color-text);
          border: 1px solid #000;
          border-radius: 0;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1rem;
          color: var(--color-bg);
        }
      }

      .submit-button {
        color: var(--color-bg);
        text-align: center;
        background: #adadad;
        border: 1px solid #000;
        flex: 1;
        padding: 0.5rem 1.5rem;
        font-family: inherit;
        font-size: 1.125rem;

        &:hover {
          background: #ccc;
          color: #000;
        }
      }
    }

    .support-box {
      .text {
        text-align: center;

        @media (max-width: 576px) {
          text-align: left;
        }

        .title {
          font-size: 1.125rem;
          font-weight: 600;
        }

        .desc {
          font-size: 1rem;
          font-weight: 500;
        }
      }

      .buttons {
        display: grid;
        grid-template-columns: 5.375rem 5.375rem;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;

        @media (max-width: 576px) {
          justify-content: start;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          border: 1px dotted #000;
          background: var(--color-accent);
          font-size: 0.875rem;
          font-weight: 600;
          color: var(--color-bg);
          text-align: center;
          text-decoration: none;

          &.larger {
            font-size: 1.125rem;
          }

          &:hover {
            box-shadow: 0 0 3px var(--color-accent);
          }
        }
      }
    }
  }
}
